<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= html_title %></title>

  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag %>
  <%= favicon %>
  <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
  <%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>

  <%= heads_for_theme %>
  <% heads_for_wiki_formatter %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= javascript_include_tag 'modernizr-2.5.3.min.js' %>
</head>
<body class="<%=h body_css_classes %>">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to h(Setting.app_title), home_path, :class => "brand" %>
        <ul class="nav pull-right">
          <% unless User.current.logged? %>
            <% if Setting.self_registration? %>
              <li>
              <%= link_to l(:label_register), { :controller => 'account', :action => 'register' } %>
              </li>
            <% end %>
            <li class="dropdown">
              <% link_to({ :controller => 'account', :action => 'login' }, :'data-target' => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown') do %>
                  <%= l(:label_login) %> <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <%= render :partial => 'account/login' %>
              </ul>
            </li>
          <% else %>
            <li class="dropdown">
              <% link_to({:controller => 'users', :action => 'show', :id => User.current}, :'data-target' => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown') do %>
                <%= h(User.current.name) %> <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu dropdown-form">
                <li><%= link_to_user(User.current) %></li>
                <% menu_items_for(:account_menu) do |item| %>
                  <%= render_menu_node(item) %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
        <%= render :partial => 'search/quick_search', :locals => {:search_term => @question}, :id => 'search' %>

        <% if User.current.logged? || !Setting.login_required? %>
          <ul class="nav">
            <% main_top_menu_items.each do |item| %>
              <%= render_menu_node(item) %>
            <% end %>
            <li class="dropdown">
                <% link_to({ :controller => 'projects', :action => 'index' }, :'data-target' => '#', :class => "dropdown-toggle", :'data-toggle' => 'dropdown') do %>
                    <%= l(:label_project_plural) %> <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to l(:label_project_all), { :controller => 'projects', :action => 'index' } %></li>
                  <%
                    project_content = ''
                    project_tree(User.current.projects.all) do |project, level|
                      name_prefix = (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ') : '')
                        project_content << content_tag(:li,
                                                       link_to(name_prefix + h(project), {:controller => 'projects', :action => 'show', :id => project, :jump => current_menu_item}))
                    end

                    if project_content != '' %>
                  <li class="divider"></li>
                  <%= project_content %>
                  <% end %>
                </ul>
            </li>
            <% if more_top_menu_items.present? || User.current.admin? %>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= l(:label_more) %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <% more_top_menu_items.each do |item| %>
                      <%= render_menu_node(item) %>
                    <% end %>
                    <%# TODO: Extract to helper %>
                    <% if User.current.admin? %>
                      <% menu_items_for(:admin_menu) do |item| -%>
                        <li><%= link_to h(item.caption), item.url, item.html_options %></li>
                      <% end -%>
                    <% end %>
                  </ul>
              </li>
            <% end %>
            <%= render_menu_node(help_menu_item) %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <ul class="breadcrumb">
        <%# This works because page_header_title is either a single item (a heading) or a list of projects %>
        <% page_header_title.each_with_index do |item, idx| %>
          <% if idx != page_header_title.length - 1 %>
            <li>
              <%= link_to_project(item) %>
              <span class="divider">/</span>
            </li>
          <% else %>
            <li class="active"><%= item %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="row-fluid">
      <% main_menu = render_main_menu(@project) %>
      <% side_displayed = has_content?(:sidebar) %>
      <% display_sidebar = (side_displayed || has_content?(:main_menu) || !main_menu.blank?)  %>
      <% if display_sidebar %>
        <div class="span3">
          <div class="well sidebar-nav">
              <% if @project %>
                 <%= render :partial => 'projects/sidebar_menu', :locals => {:project => @project} %>
              <% else %>
                <%= main_menu %>
              <% end %>
            <%= yield :main_menu %>
          </div>
          <% if side_displayed %>
          <div id="sidebar">
            <%= yield :sidebar %>
            <%= call_hook :view_layouts_base_sidebar %>
          </div>
          <% end %>
        </div>
      <% end %>
      <div class="span<%= display_sidebar ? '9' : '12' %>">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="footer">
          <%= l(:text_powered_by, :link => link_to(Redmine::Info.app_name, Redmine::Info.url)) %>
        </div>
      </div>
    </div>
  </div>

<div id="wrapper">
  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="dialog-window" style="display:none;"></div>
</div>
  <%= call_hook :view_layouts_base_body_bottom %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= javascript_include_tag 'bootstrap.js' %>
</body>
</html>
